<!--
    pisupply-pijuice-pis0212.html

    Links
    https://uk.pi-supply.com/products/pijuice-standard
    https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/
    https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/
    https://github.com/PiSupply/PiJuice
    https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212
    https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212
    https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212
    https://nodered.org/

    Copyright (c) 2020 Spring City Solutions LLC and other contributors
    Licensed under the Apache License, Version 2.0

    Icon made from http://www.onlinewebfonts.com/icon aka Icon Fonts
    is licensed by CC BY 3.0

-->
<script type="text/javascript">
RED.nodes.registerType('batterypercent', {
    category: 'pijuice',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "cdde6fcbd1a465766c1c2d96993df5ad.png",
    paletteLabel: "Battery Capacity",
    label: function() {
        return this.name || "Battery Capacity";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('batterytemperature', {
    category: 'pijuice',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "cdde6fcbd1a465766c1c2d96993df5ad.png",
    paletteLabel: "Battery Temperature",
    label: function() {
        return this.name || "Battery Temperature";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('batteryvoltage', {
    category: 'pijuice',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "cdde6fcbd1a465766c1c2d96993df5ad.png",
    paletteLabel: "Battery Voltage",
    label: function() {
        return this.name || "Battery Voltage";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('gpiocurrent', {
    category: 'pijuice',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "cdde6fcbd1a465766c1c2d96993df5ad.png",
    paletteLabel: "GPIO Current",
    label: function() {
        return this.name || "GPIO Current";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('gpiovoltage', {
    category: 'pijuice',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "cdde6fcbd1a465766c1c2d96993df5ad.png",
    paletteLabel: "GPIO Voltage",
    label: function() {
        return this.name || "GPIO Voltage";
    }
});
</script>
<script type="text/javascript">
RED.nodes.registerType('usbpower', {
    category: 'pijuice',
    color: '#a6bbcf',
    defaults: {
        name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "cdde6fcbd1a465766c1c2d96993df5ad.png",
    paletteLabel: "USB Power",
    label: function() {
        return this.name || "USB Power";
    }
});
</script>
<script type="text/html" data-template-name="batterypercent">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span
            data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name"
            data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="batterytemperature">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span
            data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name"
            data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="batteryvoltage">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span
            data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name"
            data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="gpiocurrent">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span
            data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name"
            data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="gpiovoltage">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span
            data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name"
            data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>
<script type="text/html" data-template-name="usbpower">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span
            data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name"
            data-i18n="[placeholder]node-red:common.label.name">
    </div>
</script>