<!--
  locales/en-US/pi-supply-pijuice-pis0212.html

  Links
  https://uk.pi-supply.com/products/pijuice-standard
  https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/
  https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/
  https://github.com/PiSupply/PiJuice
  https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212
  https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212
  https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212
  https://nodered.org/

  Copyright (c) 2020 Spring City Solutions LLC and other contributors
  Licensed under the Apache License, Version 2.0
-->
<script type="text/html" data-help-name="batterypercent">
    <p>Output the battery charge percentage after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers a poll</dd>
      </dl>

    <h3>Details</h3>
      <p>A poll takes less than one second.</p>
      <p>The output is a numeric value 0 to 100 in units of percent of full battery charge.</p>
      <p>For example, given an input payload of a timestamp, a fraction of a second
      later the output will be numeric 97, implying the battery is 97 percent of
      full charge.</p>

    <h3>Links</h3>
      <ul>
        <li><a href="https://uk.pi-supply.com/products/pijuice-standard">
          Pi Supply Pi Juice Main Page
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/">
          Pi Supply Pi Juice Quick Start
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/">
          Pi Supply provided advice on extending battery life
        </a></li>
        <li><a href="https://github.com/PiSupply/PiJuice">
          Pi Supply provided github software
        </a></li>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212">
          Spring City Solutions LLC GitLab page for this Node-RED node
        </a></li>
        <li><a href="https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212">
          NPM page for this Node-RED node
        </a></li>
        <li><a href="https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212">
          Flows.nodered page for this Node-RED node
        </a></li>
        <li><a href="https://nodered.org/">
          Node-RED main page
        </a></li>
      </ul>

    <h3>Copyrights Trademarks and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="batterytemperature">
    <p>Output the battery temperature after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers a poll</dd>
      </dl>

    <h3>Details</h3>
      <p>A poll takes less than one second.</p>
      <p>The output is a numeric value of the battery temperature in degrees Celsius.</p>
      <p>For example, given an input payload of a timestamp, a fraction of a second
      later the output will be numeric 25, implying the battery is around room
      temperature approximately 25 degrees Celsius.</p>

    <h3>Links</h3>
      <ul>
        <li><a href="https://uk.pi-supply.com/products/pijuice-standard">
          Pi Supply Pi Juice Main Page
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/">
          Pi Supply Pi Juice Quick Start
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/">
          Pi Supply provided advice on extending battery life
        </a></li>
        <li><a href="https://github.com/PiSupply/PiJuice">
          Pi Supply provided github software
        </a></li>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212">
          Spring City Solutions LLC GitLab page for this Node-RED node
        </a></li>
        <li><a href="https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212">
          NPM page for this Node-RED node
        </a></li>
        <li><a href="https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212">
          Flows.nodered page for this Node-RED node
        </a></li>
        <li><a href="https://nodered.org/">
          Node-RED main page
        </a></li>
      </ul>

    <h3>Copyrights Trademarks and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="batteryvoltage">
    <p>Output the battery voltage after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers a poll</dd>
      </dl>

    <h3>Details</h3>
      <p>A poll thats less than one second.</p>
      <p>The output is a numeric value of the battery voltage in units of Volts.</p>
      <p>For example, given an input payload of a timestamp, a fraction of a second
      later the output will be numeric 4.165, implying a nearly fully charged
      lithium battery.</p>

    <h3>Links</h3>
      <ul>
        <li><a href="https://uk.pi-supply.com/products/pijuice-standard">
          Pi Supply Pi Juice Main Page
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/">
          Pi Supply Pi Juice Quick Start
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/">
          Pi Supply provided advice on extending battery life
        </a></li>
        <li><a href="https://github.com/PiSupply/PiJuice">
          Pi Supply provided github software
        </a></li>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212">
          Spring City Solutions LLC GitLab page for this Node-RED node
        </a></li>
        <li><a href="https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212">
          NPM page for this Node-RED node
        </a></li>
        <li><a href="https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212">
          Flows.nodered page for this Node-RED node
        </a></li>
        <li><a href="https://nodered.org/">
          Node-RED main page
        </a></li>
      </ul>

    <h3>Copyrights Trademarks and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="gpiocurrent">
    <p>Output the GPIO output current after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers a poll</dd>
      </dl>

    <h3>Details</h3>
      <p>A poll takes less than one second.</p>
      <p>The output is a numeric value of current drawn by the Pi in units of mA.</p>
      <p>For example, given an input payload of a timestamp, a fraction of a second
      later the output will be numeric 594, implying the Pi is drawing 594 mA of
      five volt power from the PiJuice.</p>

    <h3>Links</h3>
      <ul>
        <li><a href="https://uk.pi-supply.com/products/pijuice-standard">
          Pi Supply Pi Juice Main Page
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/">
          Pi Supply Pi Juice Quick Start
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/">
          Pi Supply provided advice on extending battery life
        </a></li>
        <li><a href="https://github.com/PiSupply/PiJuice">
          Pi Supply provided github software
        </a></li>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212">
          Spring City Solutions LLC GitLab page for this Node-RED node
        </a></li>
        <li><a href="https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212">
          NPM page for this Node-RED node
        </a></li>
        <li><a href="https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212">
          Flows.nodered page for this Node-RED node
        </a></li>
        <li><a href="https://nodered.org/">
          Node-RED main page
        </a></li>
      </ul>

    <h3>Copyrights Trademarks and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="gpiovoltage">
    <p>Output the GPIO output voltage after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers a poll</dd>
      </dl>

    <h3>Details</h3>
      <p>A poll takes less than one second.</p>
      <p>The output is a numeric value 0 to 5 in units of Volts.</p>
      <p>For example, given an input payload of a timestamp, a fraction of a second
      later the output will be numeric 5.039, implying the five volt output of
      the PiJuice is very close to designed voltage.</p>

    <h3>Links</h3>
      <ul>
        <li><a href="https://uk.pi-supply.com/products/pijuice-standard">
          Pi Supply Pi Juice Main Page
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/">
          Pi Supply Pi Juice Quick Start
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/">
          Pi Supply provided advice on extending battery life
        </a></li>
        <li><a href="https://github.com/PiSupply/PiJuice">
          Pi Supply provided github software
        </a></li>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212">
          Spring City Solutions LLC GitLab page for this Node-RED node
        </a></li>
        <li><a href="https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212">
          NPM page for this Node-RED node
        </a></li>
        <li><a href="https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212">
          Flows.nodered page for this Node-RED node
        </a></li>
        <li><a href="https://nodered.org/">
          Node-RED main page
        </a></li>
      </ul>

    <h3>Copyrights Trademarks and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="usbpower">
    <p>Output the presence of usb port charging power after being triggered by
    any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers a poll</dd>
      </dl>

    <h3>Details</h3>
      <p>A poll takes less than one second.</p>
      <p>The output is a string, either PRESENT or NOT_PRESENT</p>
      <p>For example, given an input payload of a timestamp, a fraction of a second
      later the output will be the string PRESENT implying the PiJuice is or could
      be charging the battery off the power source connected to the usb charge
      input connector.</p>

    <h3>Links</h3>
      <ul>
        <li><a href="https://uk.pi-supply.com/products/pijuice-standard">
          Pi Supply Pi Juice Main Page
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/pijuice-quick-start-guide-faq/">
          Pi Supply Pi Juice Quick Start
        </a></li>
        <li><a href="https://learn.pi-supply.com/make/how-to-save-power-on-your-raspberry-pi/">
          Pi Supply provided advice on extending battery life
        </a></li>
        <li><a href="https://github.com/PiSupply/PiJuice">
          Pi Supply provided github software
        </a></li>
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/pisupply-pijuice-pis0212">
          Spring City Solutions LLC GitLab page for this Node-RED node
        </a></li>
        <li><a href="https://www.npmjs.com/package/node-red-contrib-pisupply-pijuice-pis0212">
          NPM page for this Node-RED node
        </a></li>
        <li><a href="https://flows.nodered.org/node/node-red-contrib-pisupply-pijuice-pis0212">
          Flows.nodered page for this Node-RED node
        </a></li>
        <li><a href="https://nodered.org/">
          Node-RED main page
        </a></li>
      </ul>

    <h3>Copyrights Trademarks and Licenses</h3>
      <ul>
        <li>Majority of code Copyright &copy; 2020 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
        is licensed by CC BY 3.0</li>
      </ul>
</script>